{{- define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end -}}

<textarea id="source">
{{- .RawContent -}}
</textarea>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/remark-slide@0.14.0/out/remark.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode_js@1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"></script>
	<script>
  		var slideshow = remark.create();
	</script>
